<center>
<h1> server operating system {{ ansible_distribution }} <h1>
<h1> server file path {{ ansible_distribution_file_path }} <h1>
<h1> server host name {{ ansible_hostname }} <h1>
<h1> server package manager {{ ansible_pkg_mgr }} <h1>
<h1> server os family group {{ ansible_os_family }} <h1>
<h1> server created and maintained by {{ user_name }} <h1>
<center>
